version: 2.1

executors:
  python:
    parameters:
      pyversion:
        type: string
      pgversion:
        type: string
        default: "16.0"
      debiandist:
        type: string
        default: "bullseye"
    docker:
      - image: python:<< parameters.pyversion >>-<< parameters.debiandist >>
      - image: postgres:<< parameters.pgversion >>
        environment:
          POSTGRES_DB: 'psqlextra'
          POSTGRES_USER: 'psqlextra'
          POSTGRES_PASSWORD: 'psqlextra'

commands:
  install-dependencies:
    parameters:
      extra:
        type: string

    steps:
      - run:
          name: Install packages
          command: apt-get update && apt-get install -y --no-install-recommends postgresql-client libpq-dev build-essential git

      - run:
          name: Install Python packages
          command: pip install --progress-bar off '.[<< parameters.extra >>]'

  run-tests:
    parameters:
      pyversion:
        type: integer

    steps:
      - run:
          name: Run tests
          command: tox --listenvs | grep ^py<< parameters.pyversion >> | circleci tests split | xargs -n 1 tox -e
          environment:
            DATABASE_URL: 'postgres://psqlextra:psqlextra@localhost:5432/psqlextra'
            DATABASE_IN_CONTAINER: 'true'
            TOX_TESTENV_PASSENV: 'DATABASE_URL DATABASE_IN_CONTAINER'

jobs:
  test-python36:
    executor:
      name: python
      pyversion: "3.6"
      pgversion: "13.0"
    steps:
      - checkout
      - install-dependencies:
          extra: dev, test
      - run-tests:
          pyversion: 36

  test-python37:
    executor:
      name: python
      pyversion: "3.7"
      pgversion: "13.0"
    steps:
      - checkout
      - install-dependencies:
          extra: dev, test
      - run-tests:
          pyversion: 37

  test-python38:
    executor:
      name: python
      pyversion: "3.8"
      pgversion: "13.0"
    steps:
      - checkout
      - install-dependencies:
          extra: dev, test
      - run-tests:
          pyversion: 38

  test-python39:
    executor:
      name: python
      pyversion: "3.9"
      pgversion: "13.0"
    steps:
      - checkout
      - install-dependencies:
          extra: dev, test
      - run-tests:
          pyversion: 39

  test-python310:
    executor:
      name: python
      pyversion: "3.10"
      pgversion: "16.0"
    steps:
      - checkout
      - install-dependencies:
          extra: dev, test
      - run-tests:
          pyversion: 310

  test-python311:
    executor:
      name: python
      pyversion: "3.11"
      pgversion: "16.0"
    steps:
      - checkout
      - install-dependencies:
          extra: dev, test, test-report
      - run-tests:
          pyversion: 311
      - store_test_results:
          path: reports
      - run:
          name: Upload coverage report
          command: coveralls

  test-python312:
    executor:
      name: python
      pyversion: "3.12"
      pgversion: "16.0"
      debiandist: "bullseye"
    steps:
      - checkout
      - install-dependencies:
          extra: dev, test
      - run-tests:
          pyversion: 312

  test-python313:
    executor:
      name: python
      pyversion: "3.13"
      pgversion: "16.0"
      debiandist: "bullseye"
    steps:
      - checkout
      - install-dependencies:
          extra: dev, test
      - run-tests:
          pyversion: 313

  analysis:
    executor:
      name: python
      pyversion: "3.11"
    steps:
      - checkout
      - install-dependencies:
          extra: dev, analysis, test
      - run:
          name: Verify
          command: poe verify

  publish:
    executor:
      name: python
      pyversion: "3.11"
    steps:
      - checkout
      - install-dependencies:
          extra: publish
      - run:
          name: Set version number
          command: echo "__version__ = \"${CIRCLE_TAG:1}\"" > psqlextra/_version.py
      - run:
          name: Build package
          command: python -m build
      - run:
          name: Publish package
          command: >
            python -m twine upload
            --username "__token__"
            --password "${PYPI_API_TOKEN}"
            --verbose
            --non-interactive
            --disable-progress-bar
            dist/*

workflows:
  build:
    jobs:
      - test-python36:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test-python37:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test-python38:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test-python39:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test-python310:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test-python311:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test-python312:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - test-python313:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - analysis:
          filters:
            tags:
              only: /.*/
            branches:
              only: /.*/
      - publish:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
