version: 2.1

executors:
  python:
    parameters:
      version:
        type: string
    docker:
      - image: python:<< parameters.version >>-alpine
      - image: postgres:11.0
        environment:
          POSTGRES_DB: 'psqlextra'
          POSTGRES_USER: 'psqlextra'
          POSTGRES_PASSWORD: 'psqlextra'

commands:
  install-dependencies:
    parameters:
      extra:
        type: string

    steps:
      - run:
          name: Install packages
          command: apk add postgresql-libs gcc musl-dev postgresql-dev git

      - run:
          name: Install Python packages
          command: pip install --progress-bar off .[<< parameters.extra >>]

  run-tests:
    parameters:
      pyversion:
        type: integer
      djversions:
        type: string

    steps:
      - run:
          name: Run tests
          command: tox -e 'py<< parameters.pyversion >>-dj{<< parameters.djversions >>}'
          environment:
            DATABASE_URL: 'postgres://psqlextra:psqlextra@localhost:5432/psqlextra'


jobs:
  test-python36:
    executor:
      name: python
      version: "3.6"

    steps:
      - checkout
      - install-dependencies:
          extra: test
      - run-tests:
          pyversion: 36
          djversions: 20,21,22,30,31

  test-python37:
    executor:
      name: python
      version: "3.7"

    steps:
      - checkout
      - install-dependencies:
          extra: test
      - run-tests:
          pyversion: 37
          djversions: 20,21,22,30,31

  test-python38:
    executor:
      name: python
      version: "3.8"

    steps:
      - checkout
      - install-dependencies:
          extra: test
      - run-tests:
          pyversion: 38
          djversions: 20,21,22,30,31

  test-python39:
    executor:
      name: python
      version: "3.9"

    steps:
      - checkout
      - install-dependencies:
          extra: test
      - run-tests:
          pyversion: 39
          djversions: 21,22,30,31
      - store_test_results:
          path: reports
      - run:
          name: Upload coverage report
          command: coveralls

  analysis:
    docker:
        - image: python:3.8-alpine
    steps:
      - checkout
      - install-dependencies:
          extra: analysis
      - run:
          name: Verify
          command: python setup.py verify


workflows:
  version: 2
  build:
    jobs:
      - test-python36
      - test-python37
      - test-python38
      - test-python39
      - analysis
